[submodule "webapp-xul-wrapper"]
	path = submodules/webapp-xul-wrapper
	url = https://github.com/bwbohl/webapp-xul-wrapper
[submodule "exist"]
        path = submodules/exist
        url = https://github.com/eXist-db/exist
        branch = master
